/* Mobile */
.navigation-bar {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        padding-inline: var(--side-margin);
        gap: 0.75rem;
    
        .logo {
            font-size: 1.3rem;
            font-weight: bold;
            color: var(--accent-color);
        }
    
        & > a {
            text-decoration: none;
            color: black;
            font-size: 1rem;

            &.active {
                color: var(--accent-color);
            }
        }

        & > a:not(.logo) {
            display: none;
        }

        .burger-menu {
            font-size: 1.5rem;
        }

        .mobile-nav-links {
            position: fixed;
            flex-direction: column;
            align-items: center;
            background-color: var(--primary-color);
            inset: 0;
            left: 100%;
            min-width: 100vw;
            padding: 0 var(--side-margin);
            font-size: 1rem;
            display: flex;
            transition: 0.3s;

            &.show {
                left: 0;
            }

            a {
                padding-block: 0.75rem;
                text-align: center;
                width: 100%;

                &.active {
                    color: var(--accent-color);
                }
            }

            .close {
                font-size: 1.5rem;
                padding: 1rem 0.5rem;
                align-self: flex-end;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) {
    .navigation-bar {

        .nav-links {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-inline: auto;
            max-width: var(--max-width);
    
            .burger-menu {
                display: none;
            }
    
            a:not(.logo) {
                display: block;
            }

            .mobile-nav-links,
            .mobile-nav-links.show {
                display: none;
            }
        }
    }
}