/* Mobile */
.navigation-bar {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 3rem;
    padding-bottom: 1rem;

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        gap: 0.75rem;
    
        .logo {
            font-size: 1.3rem;
            font-weight: 900;
            color: black;

            span {
                color: var(--accent-color);
            }
        }
    
        & > a {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: 600    ;

            &.active-link,
            &:hover {
                color: var(--accent-color);
                transition: 0.3s;
            }

        }

        & > a:not(.logo) {
            display: none;
        }

        .burger-menu {
            font-size: 1.5rem;
        }

        .mobile-nav-links {
            position: fixed;
            flex-direction: column;
            align-items: center;
            background-color: var(--primary-color);
            inset: 0;
            left: 100%;
            min-width: 100vw;
            padding: 0 var(--side-margin);
            font-size: 2rem;
            display: flex;
            transition: 0.3s;

            &.show {
                left: 0;
            }

            a {
                padding-block: 0.75rem;
                text-align: center;
                width: 100%;
                text-decoration: none;
                color: black;
                font-weight: 600;

                &.active {
                    color: var(--accent-color);
                }
            }

            .close {
                font-size: 1.5rem;
                padding: 1rem 0.5rem;
                align-self: flex-end;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) {
    .navigation-bar {

        .nav-links {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-inline: auto;
            max-width: var(--max-width);

            .logo {
                color: black;

                span {
                    color: var(--accent-color);
                }
            }
    
            .burger-menu {
                display: none;
            }
    
            a:not(.logo) {
                display: block;
            }

            .mobile-nav-links,
            .mobile-nav-links.show {
                display: none;
            }
        }
    }
}