
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*  =============================
        (Mobile / Default) 
    ============================= */
:root {
    --side-margin: 1rem;
    --max-width: 1000px;

    --primary-color: white;
    --accent-color: #eb452f;
}

main:not(#homepage) {
    background-color: rgb(223, 223, 223);
    min-height: 100vh;
    padding-top: 4rem;
    padding-inline: var(--side-margin);

    .container {
        margin-inline: auto;
    }

    h1 {
        padding: 1rem 0;
    }
}

/*  =============================
        Medium to Large Devices 
    ============================= */
@media (min-width: 768px) {
    :root {
        --side-margin: 2rem;
    }

    main:not(#homepage) {
        .container {
            max-width: var(--max-width);
            padding: 0 1rem;
        }
    }
}